@import url('https://fonts.googleapis.com/css2?family=Trispace&display=swap');

:root {
    --back-color: darkslategray;
    --light-color: floralwhite;
}

body {
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: var(--back-color);
    margin: 0;
    overflow: hidden;
    font-family: 'Trispace', sans-serif;
}

h1 {
    font-family: 'Trispace', monospace; /* Ensure font name is correctly referenced */
    font-size: clamp(3rem, 10vw, 10rem);
    color: var(--light-color);
    padding: 0 clamp(1rem, 2vw, 3rem);
    border-radius: clamp(0.4rem, 0.75vw, 1rem);
    transition: background-color 300ms, color 300ms; /* Smooth transition for hover effect */
}

h1:hover {
    background-color: var(--light-color);
    color: var(--back-color);
}

/* Link style */
.meta-link {
    align-items: center;
    backdrop-filter: blur(3px);
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 6px;
    bottom: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    display: inline-flex;
    gap: 5px;
    left: 10px;
    padding: 10px 20px;
    position: fixed;
    text-decoration: none;
    transition: background-color 400ms, border-color 400ms; /* Removed trailing comma */
    z-index: 1000;
}

.meta-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.meta-link > i, .meta-link > span {
    height: 20px;
    line-height: 20px;
}

.meta-link > span {
    color: var(--light-color);
    font-weight: 500;
}
