/* Importing Google Font 'Space Mono' */
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

/* Root CSS variables for easy theme management */
:root {
    --back-color: #303030;
    --light-color: cornsilk;
    --highlight-color: #666;
    --grad-y-color: gold;
    --grad-g-color: forestgreen;
    --background-rgb: 15 15 15;
    --blue-rgb: 255 215 0;
    --primary-rgb: var(--blue-rgb);
}

* {
    box-sizing: border-box;
}

/* Base styles for html and body */
html, body {
    min-height: 100vh;
    width: 100vw;
    margin: 0rem;
    font-family: 'Space Mono', monospace;
}

/* Styling for the body element */
body {
    display: flex;
    flex-direction: column;
    place-items: center;
    background-color: var(--back-color);
    overflow: auto;
}

/* Footer styles */
.footer {
    margin-top: auto;
    width: 100%;
    text-align: left;
    margin-left: clamp(1rem, 5vw, 12rem);
}

/* Styling for h1 elements */
h1 {
    font-size: clamp(2rem, 6vw, 8rem);
    color: var(--light-color);
    padding: 0 clamp(1rem, 3vw, 4rem);
    transition: background-color 300ms, color 300ms; /* Smooth transition for hover effect */
    letter-spacing: 0.2ch; /* Adjust letter spacing */
    z-index: 1000;
}

/* Hover effect for h1 elements */
h1:hover {
    background-color: var(--light-color);
    color: var(--back-color);
}

/* Styling for highlighted text */
.highlight {
    color: var(--highlight-color);
}

/* Styling for h2 elements */
h2 {
    font-size: clamp(1rem, 3vw, 4rem);
    background-color: var(--light-color);
    color: var(--highlight-color);
    display: inline-block;
    margin: auto;
    align-items: center;
    padding: 0 clamp(0.3rem, 1vw, 1.3rem);
    text-align: center; 
    transform: rotate(-4deg);
    transition: transform 1500ms ease-in-out;
    z-index: 2;
}

/* Container for links */
#links {
    display: inline-flex;
}

/* Styling for meta-link elements */
.meta-link {
    align-items: center;
    backdrop-filter: blur(3px);
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 6px;
    bottom: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    display: inline-flex;
    gap: 5px;
    left: 10px;
    margin: 20px;
    padding: 10px 20px;
    text-decoration: none;
    transition: background-color 400ms, border-color 400ms;
    z-index: 1000;
}

/* Hover effect for meta-link elements */
.meta-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

/* Styling for icons and text inside meta-link */
.meta-link > i, .meta-link > span {
    height: 20px;
    line-height: 20px;
}

/* Styling for text inside meta-link */
.meta-link > span {
    color: var(--highlight-color);
    font-weight: 500;
    transition: color 2000ms ease-in-out;
}

/* Styling for text inside meta-link */
.meta-link > span:hover {
    color: var(--light-color);
}

/* Styling for icons inside meta-link */
.meta-link > i {
    color: var(--light-color);
    display: flex;
}

/* Keyframes for rotating animation */
@keyframes rotate {
    from {
        rotate: 0deg;
    }
    50% {
        scale: 1 1.6;
    }
    to {
        rotate: 360deg;
    }
}

/* Styling for the blob element */
#blob {
    height: 40%;
    aspect-ratio: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    border-radius: 50%;
    background: linear-gradient(to right, var(--grad-g-color), var(--grad-y-color));
    animation: rotate 12s infinite;
    transition: left 2s ease, top 1s ease;
    opacity: 0.6;
}

/* Styling for the blur effect */
#blur {
    height: 100%;
    width: 100%;
    position: absolute;
    backdrop-filter: blur(12vmax);
    -webkit-backdrop-filter: blur(12vmax);
}

/* Styling for the profile photo */
.screen {
    width: 360px;
    display: flex;
    border: 3px solid rgb(var(--primary-rgb) / 80%);
    aspect-ratio: 10 / 12;
    border-radius: 1rem;
    background-color: rgb(var(--primary-rgb) / 15%);
    margin: auto;
    overflow: hidden;
    position: relative;
    z-index: 10;
}
  
.screen:after,
.screen:before {
    content: "";
    height: 5px;
    position: absolute;
    z-index: 4;
    left: 50%;
    translate: -50% 0%;
    background-color: var(--grad-y-color);
}
  
.screen:before {
    width: 15%;
    top: 0rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
  
.screen:after {
    width: 25%;
    bottom: 0rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

@keyframes pan-overlay {
    from {
      background-position: 0% 0%;
    }
    
    to {
      background-position: 0% -100%;
    }
}

.screen-overlay {    
    background: linear-gradient(
      rgb(var(--primary-rgb) / 0.15),
      rgb(var(--primary-rgb) / 0.15) 3px,
      transparent 3px,
      transparent 9px
    );
    background-size: 100% 9px;
    height: 100%;
    width: 100%;
    animation: pan-overlay 22s infinite linear;
    position: absolute;
    z-index: 2;
    left: 0px;
    top: 0px;
}

@keyframes pan-image {  
    0% {
      background-position: 36% 42%;
      background-size: 200%;
    }
    
    20% {
      background-position: 30% 35%;
      background-size: 200%;
    }
    
    20.0001% { /* -- View 2 -- */
      background-position: 60% 85%;
      background-size: 500%;
    }
    
    40% {
      background-position: 49% 81%;
      background-size: 500%;
    }
    
    40.0001% { /* -- View 3 -- */
      background-position: 80% 42%;
      background-size: 300%;
    }
    
    60% {
      background-position: 84% 33%;
      background-size: 300%;
    }
    
    60.0001% { /* -- View 4 -- */
      background-position: 0% 0%;
      background-size: 300%;
    }
    
    80% {
      background-position: 15% 4%;
      background-size: 300%;
    }
    
    80.0001% { /* -- View 5 -- */
      background-position: 80% 10%;
      background-size: 300%;
    }
    
    100% {
      background-position: 72% 14%;
      background-size: 300%;
    }
}

.screen > .screen-image {
    background-image: url("/assets/images/redcarpetsquare.jpg");
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    left: 0px;
    top: 0px;
    background-size: 300%;
    background-position: 0% 0%;
    filter: sepia(100%) hue-rotate(160deg);
    opacity: 0.6;
    animation: pan-image 15s linear infinite;
}

.screen > .screen-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
    gap: 4rem;
    position: relative;
    z-index: 3;
    margin: 1rem;
    padding-bottom: 6rem;
    border: 1px solid rgb(var(--primary-rgb) / 50%);
    border-radius: 0.6rem;
}

.screen > .screen-content > .screen-icon {
    color: var(--light-color);
    font-size: 4rem;
    text-shadow: 0px 0px 0.5rem var(--light-color);
}

@keyframes float {
    0%, 100% {
        transform: translateY(20px);
    }
    50% {
        transform: translateY(-2px);
    }
}

.screen {
    animation: float 12s ease-in-out infinite;
}

/* Styling for the main */
main {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: relative;
    width: 100%;
    height: 100%;
}
  
/* Articles as pages */
main > article {
    position: absolute;
    align-items: center;
    transition: transform 400ms ease;  
}
  
main > article[data-status="inactive"] {
    transform: translateX(-100%);
    transition: none;
}
  
main > article[data-status="active"] {
    transform: translateX(0%);
}
  
main > article[data-status="before"] {
    transform: translateX(-100%);
}
  
main > article[data-status="after"] {
    transform: translateX(100%);
}
  
main > article[data-status="becoming-active-from-before"] {
    transform: translateX(-100%);
    transition: none;
}
  
main > article[data-status="becoming-active-from-after"] {
    transform: translateX(100%);
    transition: none;
}
  
main > article > .article-section {
    height: 100%;
    display: flex;
}
  
main > article > .article-description-section {
    border-left: 1px solid var(--border-color);
}
  
main > article > .article-title-section {
    border-top: 1px solid var(--border-color);
}
  
main > article:first-child > .article-image-section {
    background-image: url("https://images.unsplash.com/photo-1565626424178-c699f6601afd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1035&q=80");
}
  
main > article:nth-child(2) > .article-image-section {
    background-image: url("https://images.unsplash.com/photo-1535905557558-afc4877a26fc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2574&q=80");
}
  
main > article:nth-child(3) > .article-image-section {
    background-image: url("https://images.unsplash.com/photo-1660580554695-d2ca5008f1f2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=927&q=80");
}
  
main > article:nth-child(4) > .article-image-section {
    background-image: url("https://images.unsplash.com/photo-1660766877755-4cac24f6cf21?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2232&q=80");
}
  
main > article > .article-image-section {
    background-position: center;
    background-size: cover;
}
  
main > article > .article-description-section {
    flex-direction: column;
    justify-content: flex-end;
    padding: 4rem; 
}
  
main > article > .article-description-section > p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.25em;
}
  
main > article > .article-description-section > p  > a:hover {
    text-decoration: underline;
}
  
main > article > .article-title-section {
    align-items: center; 
    justify-content: space-between;
    padding: 2rem 4rem;
}
  
main > article > .article-title-section * {
    color: white;
}
  
main > article > .article-title-section > h2 {
    flex-basis: 50%;
    font-size: 3.5rem;
    line-height: 3rem;
    margin: 0px;
    text-transform: uppercase;
}
  
main > article > .article-title-section > i {
    color: rgba(255, 255, 255, 0.75);
    font-size:  4rem;
}

/* Styling for the menu */
#menu {  
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

#menu-items {
  margin-left: clamp(1rem, 5vw, 12rem);
  margin-top: 15%;
  position: absolute;
  transition: opacity 1500ms ease;
  z-index: 2;
}

#menu[data-active-index="0"] > #menu-background-pattern {
  background-position: 0% -25%;
}

#menu[data-active-index="1"] > #menu-background-pattern {
  background-position: 0% -50%;
}

#menu[data-active-index="2"] > #menu-background-pattern {
  background-position: 0% -75%;
}

#menu[data-active-index="3"] > #menu-background-pattern {
  background-position: 0% -100%;
}

#menu[data-active-index="0"] > #menu-background-image {
  background-position: center 45%;
}

#menu[data-active-index="1"] > #menu-background-image {
  background-position: center 50%;
}

#menu[data-active-index="2"] > #menu-background-image {
  background-position: center 55%;
}

#menu[data-active-index="3"] > #menu-background-image {
  background-position: center 60%;
}

#menu-background-pattern {
  background-image: radial-gradient(
    rgba(255, 255, 255, 0.1) 9%, 
    transparent 9%
  );
  background-position: 0% 0%;
  background-size: 12vmin 12vmin;
  height: 100vh;
  left: 0px;
  position: absolute;
  top: 0px;
  transition: opacity 800ms ease, 
    background-size 800ms ease,
    background-position 800ms ease;
  width: 100vw;
  z-index: 1;
}

#menu-items:hover ~ #menu-background-pattern {
  background-size: 11vmin 11vmin;
  opacity: 0.5;
}

#menu-items:hover > .menu-item {
  opacity: 0.3;
}

#menu-items:hover > .menu-item:hover {
  opacity: 1;
}

.menu-item {
  color: var(--light-color);
  cursor: pointer;
  display: block;
  font-size: clamp(1.8rem, 3vw, 3rem);
  opacity: 0.2;
  padding: clamp(0.09rem, 0.15vw, 0.3rem) 0rem;
  text-decoration: none;
  transition: opacity 400ms ease-in-out;
}

.nav-arrow {
    cursor: pointer;
    position: fixed;
    top: 70%;
    transform: translateY(-70%);
    transition: opacity 400ms ease-in-out;
    font-size: 4rem;
    color: var(--light-color);
    opacity: 0.2;
    z-index: 1001; /* Ensure it's above other content */
}

.nav-arrow:hover {
    text-shadow:
        0 0 10px var(--grad-y-color);
    opacity: 0.5;
}

#left-arrow {
    left: 2rem;
}

#right-arrow {
    right: 2rem;
}

@media(max-width: 700px) {
    .screen {
        transform: scale(0.6);
        margin-bottom: 0rem;
    }
    h2 {
        transform: rotate(0deg); /* Remove or reduce rotation for smaller screens */
    }
}
